<div id="comment_<%= comment.id %>" class="comment">
  <strong><%= link_to comment.user.name, comment.user %></strong>
  <small class="text-muted"> &#9900;<%= comment.created_at.strftime t :timetype %></small>
  <p><%= comment.content %></p>
  <div class="pull-right attributes-visible">
    <% if can? :manage, comment %>
      <small>
        <%= link_to edit_comment_path(comment), comment: comment,
          remote: true do %>
          <i class="glyphicon glyphicon-edit"></i>&nbsp;
          <%= t "edit" %>
        <% end %>
        <%= link_to comment, method: :delete,
          data: {confirm: t("confirm")}, remote: true do %>
          <i class="glyphicon glyphicon-remove"></i>&nbsp;
          <%= t "delete" %>
        <% end %>
      </small>
    <% end %>
  </div>
</div>
