<div class="field form-group">
  <%= t "searchs.searchby" %>
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select associations: [:user, :anime] %>
  <% end %>
  <%= f.predicate_select %>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>
  <%= link_to t("searchs.remove"), "#", class: "remove_fields btn btn-primary btn-xs" %>
</div>
