<% provide :title, current_user.name %>
<h1><%= current_user.name %></h1>

<div class="row">
  <div class="col-md-3">
    <h3>Information</h3>
    <div class="">
      <%= current_user.name %><br/>
      <%= current_user.email %><br/>
      <%= "Review:" %>
      <%= current_user.reviews.count %><br/>
      <%= "Helpful rating:" %>
      <%= (current_user.reviews.map {|review| review.get_likes.size}).inject(0, :+) %>
    </div>
    <%= link_to t("edit_profile"), edit_user_registration_path,
      class: "btn btn-default" %>
  </div>
  <div class="col-md-9">
    <h3>Activities</h3>
    <%= render "shared/activities" %>
  </div>
</div>
