<div class="row">
  <div class="col-md-6">
    <h3>Activities</h3>
    <ul class="list-group">
      <% @activities.each do |activity| %>
        <% if activity.trackable %>
          <li class="list-group-item activity-item row" style="width: 100%;">
            <div>
              <strong><%= link_to activity.owner.name, activity.owner if activity.owner %></strong>
              <%= render_activity activity, display: :i18n %>
              <% if activity.trackable_type == "Review" %>
                <%= link_to "review", activity.trackable %> to
                "<%= link_to activity.trackable.anime.title, activity.trackable.anime %>"
              <% elsif activity.trackable_type == "Comment" %>
                <%= link_to "review", activity.trackable.review %> of
                "<%= link_to activity.trackable.review.anime.title, activity.trackable.review.anime %>"
              <% end %>
            </div>
            <small class="text-muted"> at <%= time_ago_in_words(activity.created_at) %></small>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Bookmarks</h3>
    <ul class="list-group">
      <% @bookmarks.each do |bookmark| %>
        <li class="list-group-item activity-item row" style="width: 100%;">
          <div class="pull-right">
            <small class="text-muted"><%= time_ago_in_words(bookmark.created_at) %></small><br/>
          </div>
          <div>
          <%= link_to bookmark.anime.title, bookmark.anime %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
