<ul class="list-group">
  <% @activities.each do |activity| %>
    <% if activity.trackable %>
      <li class="list-group-item activity-item row">
        <div class="pull-right">
          <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small><br/>
        </div>
        <div>
          <strong><%= link_to activity.owner.name, activity.owner if activity.owner %></strong>
          <%= render_activity activity, display: :i18n %>
          <% if activity.trackable_type == "Review" %>
            "<%= link_to activity.trackable.anime.title, activity.trackable.anime %>"
          <% elsif activity.trackable_type == "Comment" %>
            <%= link_to "review", activity.trackable.review %> of
            "<%= link_to activity.trackable.review.anime.title, activity.trackable.review.anime %>"
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
