<%= form_for @comment do |f| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <%= f.hidden_field :review_id, value: review.id %>
      <%= f.hidden_field :parent_id %>
      <%= f.text_area :content, rows: 3, placeholder: t(:addcomment), class: "form-control form-margin",
        id: "comment_content_#{review.id}" %>
    </div>
    <div class="col-md-2">
      <%= f.submit t(:submit), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
