<%= form_for @review, html: {multipart: true} do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.hidden_field :anime_id, value: anime.id %>
      <%= f.cktext_area :content, id: "review_content_#{anime.id}",
        ckeditor: {toolbar: "mini"} %>
      <%= f.number_field :rate, step: 0.1 %>
    </div>
    <div class="col-md-2">
      <%= f.submit t("submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
