<div class="row">
  <div class="">
    <div class="col-sm-3">
      <%= image_tag (review.image.exists? ? review : review.anime).image.url(:medium),
        alt: "Review image", class: "img-responsive" %>
    </div>
    <div class="col-sm-6">
      <div class="title">
        <h3><%= review.title %></h3>
      </div>
      <div class="user-name">
        <h4>By <%= link_to review.user.name, review.user %></h4>
      </div>
      <div class="content">
        <%= review.content %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="font-size: 20px;">
      <%= review.rate ? review.rate : 0 %>
      <%= image_tag "/assets/star-icon-32.png", alt: "Anime image", width: 30, height: 30 %>
    </div>
    <p class="text-muted">
      <%= l review.created_at, format: :long %>
    </p>
    <% if user_signed_in? %>
      <span class="votes">
        <%= render "reviews/votes", review: review %>
      </span>
    <% end %>
  </div>
</div>
