<div class="row">
  <div class="">
    <div class="col-sm-3">
      <%= image_tag (review.image.exists? ? review : review.anime).image.url(:medium),
        alt: "Review image", class: "img-responsive" %>
    </div>
    <div class="col-sm-6">
      <div class="title">
        <h3><%= review.title %></h3>
      </div>
      <div class="user-name">
        <h4>By <%= link_to review.user.name, review.user %></h4>
      </div>
      <div class="content">
        <%= review.content %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="">
      <%= review.rate %>
      <%= image_tag "/assets/star-icon-32.png", alt: "Anime image", width: 18, height: 18 %>
    </div>
    <p class="text-muted">
      <%= l review.created_at, format: :long %>
    </p>
    <span class="votes">
      <%= render "reviews/votes", review: review %>
    </span>
  </div>
</div>
