<div id="anime-<%= anime.id %>" class="media each-anime">
  <div class="media-left media-middle">
    <%= image_tag anime.image.url, alt: "Anime image",
      class: "img-responsive media-object each-anime-img" %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to anime.title, anime %>
    </h4>
    <span class="label label-info"><%= anime.category.name %></span>
    <p><%= t "anime.description" %>:
      <%= truncate(anime.description, length: 200, separator: " ",
        omission: "... ") {link_to "[Continue]", anime_path(anime)} %>
    </p>
    <div id="review_count">
      <% reviews = anime.reviews %>
      <%= pluralize @review_count[anime.id] ||= 0, t("review.review") %>
      <% if reviews.last.present? %>
        <%= "(Latest review on #{reviews.last.created_at.strftime(t :time_format_user)}:" %>
        "<%= truncate(reviews.last.content, length: 200, separator: " ",
          omission: "") {link_to "...", review_path(reviews.last)} %>")
      <% end %>
    </div>
  </div>
  <div class="media-right media-middle each-anime-rating center">
    <h3>
      <%= @review_rating[anime.id] ||= 0 %>/5
      <%= image_tag "/assets/star-icon-32.png", alt: "Anime image", width: 30, height: 30 %>
    </h3>
  </div>
</div>
