<div class="well well-sm">
  <%= page_entries_info @animes %>
  <%= render_filterrific_spinner %>
  <%= link_to "Reset filters", reset_filterrific_url, class: "pull-right" %>
</div>

<% @animes.each do |anime| %>
  <%= render "shared/show_anime", anime: anime %>
<% end %>

<%= will_paginate @animes %>
