<div class="container">
  <div id="anime-<%= anime.id %>">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag anime.image.url(:medium), alt: "Anime image", class: "img-responsive" %>
      </div>
      <div class="col-sm-9">
        <h2><%= link_to anime.title, anime %></h2>
        <p class="lead">
          <%= t "anime.rating" %>:
          <%= anime.reviews.average(:rate) ? anime.reviews.average(:rate) : 0 %>
          <%= image_tag "/assets/star-icon-32.png", alt: "Anime image", width: 30, height: 30 %>
          <%= I18n.translate "anime.count_rater", count: anime.reviews.count %>
        </p>
        <div id="review_count">
          <%= pluralize anime.reviews.count, t("review.review") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="description">
          <%= t "anime.category" %>:
          <%= anime.category.name %>
        </div>
        <div class="description">
          <%= t "anime.publish_year" %>:
          <%= anime.publish_year %>
        </div>
        <div class="description">
          <%= t "anime.episode" %>:
          <%= anime.episode %>
        </div>
        <div class="description">
          <%= t "anime.status" %>:
          <%= anime.status %>
        </div>
        <div class="description">
          <%= t "anime.description" %>:
          <%= anime.description %>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <% unless current_user.review_anime?(anime.id).present? %>
      <button data-toggle="collapse" data-target="#review_form" class="btn btn-default">
        <%= t "anime.newreview" %>
      </button>
      <div id="review_form" class="collapse">
        <section>
          <%= render "shared/review_form", anime: anime %>
        </section>
      </div>
    <% end %>
  <% end %>
  <div id="reviews_<%= anime.id %>">
    <%= render @reviews, anime: anime if anime.reviews.any? %>
  </div>
</div>
