<% provide :title, t("page_title.all_animes") %>
<h1><%= t "page_title.all_animes" %></h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div class="form-group">
    <%= label_tag t("searchanime") %>
    <%= f.text_field :with_title, placeholder: t(:search),
      class: "filterrific-periodically-observed form-control" %>
  </div>
<% end %>
<div class="well well-sm">
  <div id="results_count" class="chardin_box">
    <%= pluralize @animes.count, t("anime.animes") %>
  </div>
  <%= render_filterrific_spinner %>
</div>
<div id="results" class="row">
  <%= render "animes/animes", animes: @animes %>
</div>
