<% provide :title, t("admin.categories.allcategories") %>
<h1 class="page-header"><%= t "admin.categories.allcategories" %></h1>

<div class="center form-group">
  <%= link_to t("admin.categories.newcategory"), new_admin_category_path,
    class: "btn btn-primary btn-lg" %>
</div>

<form class="form-inline center">
  <%= search_form_for [:admin, @q] do |f| %>
    <div class="form-group">
      <%= f.label :name_cont, t("category.name") %>
      <%= f.text_field :name_cont, class: "form-control" %>
    </div>

    <%= f.submit t("searchs.search"), class: "btn btn-primary" %>
  <% end %>
</form>

<div id="all_categories">
  <%= render "all_categories" %>
</div>
