<div class="facts">
  <div class="tab_list">
    <%= link_to review_path(review) do %>
      <%= image_tag (review.image.exists? ? review : review.anime).image.url(:thumb),
        alt: "Review image", class: "img-responsive image" %>
    <% end %>
  </div>
  <div class="tab_list1">
    <%= link_to review.title, review_path(review) %> - <%= review.rate ? review.rate : 0 %>
    <%= image_tag "/assets/star-icon-32.png", alt: "Anime image", width: 30, height: 30, class: "image-fix" %>
    <p>
      <%= l(review.created_at, format: :long) %>
      <span><%= review.content %></span>
    </p>
  </div>
  <div class="clearfix"> </div>
</div>
