<div id="review_<%= review.id %>" class="review">
  <div class="review-header">
    <%= render "shared/review_vote_info", review: review %>
    <div class="pull-right">
      <% if review.comments.count > 0 %>
        <%= link_to review do %>
          <%= review.comments.count %>&nbsp;
          <i class="glyphicon glyphicon-comment"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="review-body">
    <div class="review-user-info">
      <strong><%= link_to review.user.name, review.user %></strong><br/>
      <%= pluralize review.user.reviews.count, t("review.review") %>
      <% if user_signed_in? %>
        <div class="add-comment">
          <% if current_page?(anime_path) && !current_user.is_admin? %>
            <%= link_to(t("add_comment"), review_path(review),
              class: "btn btn-primary btn-sm margin-top") if user_signed_in? %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="review-content">
      <div class="review-rate">
        <%= review.rate ? review.rate : 0 %>
      </div>
      <div class="review-title">
        <strong><%= review.title %></strong>
      </div>
      <small class="text-muted">
        <%= t("review.review_posted", at: l(review.created_at, format: :long)).upcase %>
      </small>
      <%= image_tag (review.image.exists? ? review : review.anime).image.url(:medium),
        alt: "Review image", class: "img-responsive" %>
      <div class="content">
        <%= review.content %>
      </div>
      <% if user_signed_in? %>
        <div class="review-footer">
          <%= t "review.review_vote" %>
          <%= render "reviews/votes", review: review %>
          <% if can? :manage, review %>
            <div class="pull-right attributes-visible">
              <small>
                <% if !current_user.is_admin? %>
                  <%= link_to edit_review_path(review), review: review,
                    remote: true do %>
                    <i class="glyphicon glyphicon-edit"></i>&nbsp;
                    <%= t "edit" %>
                  <% end %>
                  |
                <% end %>
                <%= link_to current_user.is_admin? ? [:admin, review] : review,
                  method: :delete, data: {confirm: t("confirm")} do %>
                  <i class="glyphicon glyphicon-trash"></i>&nbsp;
                  <%= t "delete" %>
                <% end %>
              </small>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
