<div id="review_<%= review.id %>" class="review-hover">
  <div class="row">
    <div class="col-md-10">
      <b><%= link_to review.user.name, review.user %></b>
      <%= review.created_at.strftime t("timetype") %>
      <%= review.rate %>
      <%= raw review.content %>
    </div>
    <div class="col-md-2 review-attributes-visible">
      <span class="votes">
        <%= render "reviews/votes", review: review %>
      </span>
      <% if can? :manage, review %>
        <%= link_to t(:edit), edit_review_path(review), review: review,
          remote: true %>
        <%= link_to "", review, method: :delete, remote: true,
          data: {confirm: t("confirm")}, class: "glyphicon glyphicon-remove" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "comment", new_comment_path(review: review), class: "btn btn-primary btn-sm" %>
<%= comments_tree_for @comments %>
