<div class="blog-left-grid" id="review_<%= review.id %>">
  <div class="blog-left-grid-left">
    <h3><%= link_to review.title, review_path(review) %> - <%= review.rate ? review.rate : 0 %>
      <%= image_tag "/assets/star-icon-32.png", alt: "Anime image", width: 30, height: 30, class: "image-fix" %>
    </h3>
    <p>by <span><%= link_to review.user.name, review.user %></span> | <%= l(review.created_at, format: :long) %></p>
    <p class="review-header"><%= render "shared/review_vote_info", review: review %></p>
  </div>
  <div class="blog-left-grid-right">
    <%= link_to review_path(review), class: "hvr-bounce-to-bottom non", id: "comment_count" do %>
      <%= pluralize @review.comments.count, t("comment.comment") %>
    <% end %>
  </div>
  <div class="clearfix"> </div>
  <a href="single.html"><%= image_tag (review.image.exists? ? review : review.anime).image.url(:medium),
        alt: "Review image", class: "img-responsive image" %></a>
  <p class="para"><%= review.content %></p>
  <% if user_signed_in? %>
    <div class="vote">
      <%= t "review.review_vote" %>
      <%= render "reviews/votes", review: review %>
    </div>
    <% if can? :manage, review %>
      <div class="pull-right attributes-visible">
        <small>
          <% if !current_user.is_admin? %>
            <%= link_to edit_review_path(review), review: review,
              remote: true do %>
              <i class="glyphicon glyphicon-edit"></i>&nbsp;
              <%= t "edit" %>
            <% end %>
            |
          <% end %>
          <%= link_to current_user.is_admin? ? [:admin, review] : review,
            method: :delete, data: {confirm: t("confirm")} do %>
            <i class="glyphicon glyphicon-trash"></i>&nbsp;
            <%= t "delete" %>
          <% end %>
        </small>
      </div>
    <% end %>
    <div class="rd-mre">
      <%= link_to "Add a comment", review_path(review), class: "hvr-bounce-to-bottom add_comment quod" %>
    </div>
  <% end %>
</div>
