<div id="review_<%= review.id %>" class="well well-lg review-hover">
  <%= render "shared/show_review", review: review %>
  <div class="pull-right review-attributes-visible">
    <% if can? :manage, review %>
      <small>
        <%= link_to edit_review_path(review), review: review,
          remote: true do %>
          <i class="glyphicon glyphicon-edit"></i>&nbsp;
          <%= t "edit" %>
        <% end %>
        <%= link_to review, method: :delete, data: {confirm: t("confirm")} do %>
          <i class="glyphicon glyphicon-remove"></i>&nbsp;
          <%= t "delete" %>
        <% end %>
      </small>
    <% end %>
  </div>
  <% if current_page? anime_path %>
    <%= link_to t("add_comment"), review_path(review),
      class: "btn btn-primary btn-sm" %>
    <% if review.comments.count > 0 %>
      <%= link_to t("show_comments", number_of_comments: review.comments.count), review %>
    <% end %>
  <% end %>
</div>
