<div id="review_<%= review.id %>" class="well well-lg review-hover">
  <b><%= link_to review.user.name, review.user %></b>
  <p class="text-muted"><%= "Review " %>&#9900;
    <%= l review.created_at, format: :long %></p>
  <div class="">
    <%= t "rate" %>
    <%= review.rate %>
  </div>
  <%= image_tag review.image.url(:medium), alt: "Review image" if review.image.exists? %>
  <blockquote>
    <h3><%= review.title %></h3>
    <%= review.content %>
  </blockquote>
  <div class="pull-right review-attributes-visible">
    <span class="votes">
      <%= render "reviews/votes", review: review %>
    </span>
    <% if can? :manage, review %>
      <small>
        <%= link_to edit_review_path(review), review: review,
          remote: true do %>
          <i class="glyphicon glyphicon-edit"></i>&nbsp;
          <%= t "edit" %>
        <% end %>
        <%= link_to review, method: :delete,
          data: {confirm: t("confirm")}, remote: true do %>
          <i class="glyphicon glyphicon-remove"></i>&nbsp;
          <%= t "delete" %>
        <% end %>
      </small>
    <% end %>
  </div>
  <%= link_to "Add a comment", new_comment_path(review: review),
    class: "btn btn-primary btn-sm" %>
</div>
<%= comments_tree_for @comments %>
