<div id="review_<%= review.id %>" class="well well-lg review-hover">
  <%= render "shared/show_review", review: review %>
  <div class="pull-right review-attributes-visible">
    <span class="votes">
      <%= render "reviews/votes", review: review %>
    </span>
    <% if can? :manage, review %>
      <small>
        <%= link_to edit_review_path(review), review: review,
          remote: true do %>
          <i class="glyphicon glyphicon-edit"></i>&nbsp;
          <%= t "edit" %>
        <% end %>
        <%= link_to review, method: :delete, data: {confirm: t("confirm")} do %>
          <i class="glyphicon glyphicon-remove"></i>&nbsp;
          <%= t "delete" %>
        <% end %>
      </small>
    <% end %>
  </div>
  <%= link_to t("addacomment"), review_path(review),
    class: "btn btn-primary btn-sm" %>
</div>
