<!-- single -->
  <div class="single-page-artical">
    <div class="artical-content row">
      <div id="review" class="row artical-content">
        <div class="blog-left-grid" id="review_<%= @review.id %>" style="height: auto; width: 100%;">
          <div class="blog-left-grid-left">
            <h3><%= link_to @review.title, review_path(@review) %> - <%= @review.rate ? @review.rate : 0 %>
              <%= image_tag "/assets/star-icon-32.png", alt: "Anime image", width: 30, height: 30, class: "image-fix" %>
            <p class="review-header"><%= render "shared/review_vote_info", review: @review %></p>
            </h3>
          </div>
          <div class="clearfix"> </div>
          <a href="single.html"><%= image_tag (@review.image.exists? ? @review : @review.anime).image.url(:medium),
                alt: "Review image", class: "img-responsive image" %></a>
          <p class="para"><%= @review.content %></p>
          <% if user_signed_in? %>
            <div class="vote">
              <%= t "review.review_vote" %>
              <%= render "reviews/votes", review: @review %>
            </div>
            <% if can? :manage, @review %>
              <div class="pull-right attributes-visible">
                <small>
                  <% if !current_user.is_admin? %>
                    <%= link_to edit_review_path(@review), review: @review,
                      remote: true do %>
                      <i class="glyphicon glyphicon-edit"></i>&nbsp;
                      <%= t "edit" %>
                    <% end %>
                    |
                  <% end %>
                  <%= link_to current_user.is_admin? ? [:admin, @review] : @review,
                    method: :delete, data: {confirm: t("confirm")} do %>
                    <i class="glyphicon glyphicon-trash"></i>&nbsp;
                    <%= t "delete" %>
                  <% end %>
                </small>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="artical-links">
        <ul>
          <li><small> </small><span><%= l(@review.created_at, format: :long) %></span></li>
          <li>
            <%= link_to @review.user do %>
              <small class="admin"> </small><span><%= @review.user.name %></span>
            <% end %>
          </li>
          <li><small class="no"> </small><span><%= pluralize @review.comments.count, t("comment.comment") %></span></li>
          <li></li>
        </ul>
      </div>
      <div class="comment-grid-top">
        <h3>Comments</h3>
        <div id="comments-list">
          <%= render @review.comments, review: @review if @review.comments.any? %>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="artical-commentbox" id="comment-form">
          <h3>leave a comment</h3>
          <div class="table-form">
            <div id="error_messages"></div>
            <%= render "shared/comment_form", review: @review %>
          </div>
        </div>
      <% end %>
    </div>
<!-- single -->
