<ul class="nav nav-sidebar" data-turbolinks="false">
  <li><%= link_to t("Overview"), root_path %></li>
  <li><%= link_to t("layout.header.categories"), admin_categories_path %></li>
  <li><%= link_to t("layout.header.anime"), admin_animes_path %></li>
  <li><%= link_to t("layout.header.user"), admin_users_path %></li>
  <li><%= link_to t("layout.header.reviews"), admin_reviews_path %></li>
</ul>
