<!-- header -->
  <div class="header">
    <div class="header-nav">
      <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= t("project_name") %>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="hvr-bounce-to-bottom">
              <%= link_to "Home", root_path %>
            </li>
            <li class="hvr-bounce-to-bottom">
              <%= link_to "Animes", animes_path %>
            </li>
            <% if user_signed_in? %>
              <li class="hvr-bounce-to-bottom">
                <%= link_to t("layout.header.profile"), current_user %>
              </li>
            <% end %>
          </ul>
          <div class="sign-in">
            <ul>
              <% if user_signed_in? %>
                <li><%= link_to t("layout.header.logout"),
                  destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li>
                  <%= link_to t("layout.header.login"), new_user_session_path %> /
                </li>
                <li><%= link_to t("layout.header.signup"), new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>
  </div>
<!-- //header -->
