<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= favicon_link_tag "logo.ico" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? && current_user.is_admin? %>
      <%= render "layouts/admin_header" %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 sidebar">
            <%= render "layouts/admin_sidebar" %>
          </div>
          <div class="col-md-10 col-md-offset-2 main">
            <div id="flash_error">
              <%= render "shared/flash_error" %>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render "layouts/header" %>
      <div class="container">
        <div id="flash_error">
          <%= render "shared/flash_error" %>
        </div>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
