<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= favicon_link_tag "logo.ico" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar() {
        window.scrollTo(0,1);
      }
    </script>

    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
    </script>
  </head>

  <body>
    <% if user_signed_in? && current_user.is_admin? %>
      <%= render "layouts/admin_header" %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 sidebar">
            <%= render "layouts/admin_sidebar" %>
          </div>
          <div class="col-sm-11 col-sm-offset-1 main">
            <div id="flash_error">
              <%= render "shared/flash_error" %>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="banner-body regstr">
        <div class="container">
          <%= render "layouts/header" %>
          <div id="flash_error">
            <%= render "shared/flash_error" %>
          </div>
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
