<% provide :title, t("admin.animes.allanime") %>
<h1 class="page-header"><%= t "admin.animes.allanime" %></h1>

<div class="center form-group">
  <%= link_to t("admin.animes.newanime"), new_admin_anime_path,
    class: "btn btn-primary btn-lg" %>
</div>

<%= search_form_for [:admin, @q] do |f| %>

  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>

  <div class="form-group">
    <%= link_to_add_fields_search t("searchs.addconditions"), f, :condition %>
  </div>

  <div class="form-group">
    <%= t "searchs.sort_by" %>
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>

  <%= f.submit t("searchs.search"), class: "btn btn-primary" %>
<% end %>
</br>
<%= pluralize @animes.count, t("admin.animes.animes") %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t "anime.image" %></th>
      <th><%= sort_link @q, :title, t("anime.title") %></th>
      <th><%= sort_link @q, :category, t("anime.category") %></th>
      <th><%= t "anime.description" %></th>
      <th><%= sort_link @q, :episode, t("anime.episode") %></th>
      <th><%= sort_link @q, :status, t("anime.status") %></th>
      <th><%= sort_link @q, :publish_year, t("anime.publish_year") %></th>
      <th><%= sort_link @q, :created_at, t("products.createdat") %></th>
      <th><%= t "edit" %></th>
      <th><%= t "delete" %></th>
    </tr>
  </thead>
  <tbody>
    <% @animes.each do |anime| %>
      <tr>
        <td class="clickable-row" data-href="<%= anime_path anime %>">
          <%= image_tag anime.image.url(:medium), alt: t("admin.anime.alt") %>
        </td>
        <td class="clickable-row" data-href="<%= anime_path anime %>">
          <%= anime.title %>
        </td>
        <td class="clickable-row" data-href="<%= anime_path anime %>">
          <%= anime.category.name %>
        </td>
        <td class="clickable-row" data-href="<%= anime_path anime %>">
          <%= anime.description %>
        </td>
        <td class="clickable-row" data-href="<%= anime_path anime %>">
          <%= anime.episode %>
        </td>
        <td class="clickable-row" data-href="<%= anime_path anime %>">
          <%= anime.status %>
        </td>
        <td class="clickable-row" data-href="<%= anime_path anime %>">
          <%= anime.publish_year %>
        </td>
        <td class="clickable-row" data-href="<%= anime_path anime %>">
          <%= anime.created_at.strftime t "time_format" %>
        </td>
        <td>
          <%= link_to t(:edit), edit_admin_anime_path(anime),
            class: "btn btn-primary" %>
        </td>
        <td>
          <%= link_to t(:delete), [:admin, anime], method: :delete, data:
          {confirm: t("admin.animes.areyousure")}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
